!!! 5
%html
 %head
  %title Rails Ecommerce
  = stylesheet_link_tag 'landing', media: 'all', 'data-turbolinks-track': 'reload' 
  = javascript_include_tag 'application', 'data-turbolinks-track': 'reload' 
  = csrf_meta_tags 
  
  %body
  %div{style:" #{"display:none;" if alert.nil? && notice.nil?}"}
   %p.notice= notice
   %p.alert=alert

  %p 
   Landing Layout
  %p
   =link_to "Log In", new_user_session_path
  %p 
   =link_to "Sing Up", new_user_registration_path
		
   =yield
  