.col-lg-7.col-md-8.col-xs-12.col-sm-10.no-float.center-block
	%article.card.big-padding
		%header
			%h1.grey-text.bold= @product.name
		%section
			.col-xs-6.col-md-5.no-padding.inline-block
				TO DO
			.col-md-1.inline-block.hidden-xs
			.col-xs-5.col-md-6.inline-block.text-left
				%h3.teal-text.bold.normal= @product.user.email
				%h3.teal-text.bold.normal
					Price:
					%span.grey-text= "$#{@product.pricing}"
				%h3.teal-text.bold.normal
					Files:
					%span.grey-text 20
				%h3.teal-text.bold.normal
					Size:
					%span.grey-text= "2gb"
		%section
			%h3.green-text.bold.normal Description
			%p= @product.description






















/ %p#notice= notice

/ %p
/   %b Name:
/   = @product.name
/ %p
/   %b Pricing:
/   = @product.pricing
/ %p
/   %b Description:
/   = @product.description
/ %p
/   %b User:
/   = @product.user

/ = link_to 'Edit', edit_product_path(@product)
/ \|
/ = link_to 'Back', products_path
